ipython=9.10.1
ipykernel=7.2.0
jupyter_client=8.8.0
jupyter_core=5.9.1
jupyter_server=2.17.0
jupyterlab=4.5.6
nbclient=0.10.4
nbconvert=7.16.4
nbformat=5.10.4
notebook=7.5.5
traitlets=5.14.3
pyright=1.1.408
python-lsp-server=1.14.0
